
.parent {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: orange;
    border: 3px solid black;
    border-radius: 15px;
    align-self: flex-end; /* Aligner le bloc à droite */
    max-width: fit-content; /* Ajuster la largeur au contenu */
    margin-left: auto;
}

/*emplacement logo*/
.logo {
    width: 150px;
    height: auto;
}
/*taille du logo*/
.logo img {
    width: 150px;
}
.pouvoirs {
margin-left: 1000px;
}
.Communautée {
margin-Right: 10px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}





.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}

.product {
    background-color: orange;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color:grey;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}